# Warning: This file is used only to provide an example of how to set up the environment variables for the application.
# Warning: Do not store sensitive information in this file and commit it to the repository.
# Warning: Copy this file to .env and set up the environment variables as needed.

GOOGLE_GENERATIVE_AI_API_KEY = ********
MONGODB_URI = ********

# Auth configuration
AUTH_SECRET=********
 
AUTH_GITHUB_ID=********
AUTH_GITHUB_SECRET=********
NEXTAUTH_URL=http://localhost:3000